{% extends 'base.html' %}

{% block title %} 详情 {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/detail.css')}}">
{% endblock %}

{% block main %}
    <h3 class="page-title"> {{question.title}} </h3>
    <p class="question-info">
        <span>作者: {{question.author.user}}&nbsp&nbsp&nbsp</span>
        <span>创建时间: {{question.create_time}}</span>
    </p>
    <hr>
    <p class="uestion-content">
        {{question.content}}
    </p>
    <hr>
    <h4>评论:(+1s)</h4>
    <form action="/add_comment" method="post">
        <input type="hidden" name="question_id" value="{{question.id}}">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="填写评论" name="comment">
        </div>
        <div class="form-group" style="text-align: right">
            <button class="btn btn-primary ">发表</button>
        </div>
    </form>
    <ul class="comment-list">
        {% for comment in question.comments %}
            <!--<li>{{comment.content}}</li>-->
        <li>
            <div class="user-info">
                <img class="avatar" src="{{url_for('static', filename='img/logo.jpg')}}">
                <span class="username">{{comment.author.user}}</span>
                <span class="create-time">{{comment.create_time}}</span>
            </div>
            <p class="comment-content">{{comment.content}}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}